<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation for Apps</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
  </head>
  <body>
    <div class="grid-frame vertical">

      <nav id="main-nav" class="grid-content shrink">
        <div class="menu-group grid-container">
          <div class="menu-group-left">
            <ul class="menu-bar">
              <li class="brand"><a ui-sref="home"><strong><img src="assets/img/NCESPA_logo.png" alt="NCESPA logo"></strong></a></li>
            </ul>
          </div>
          <div class="menu-group-right">

            <!-- Mobile Menu -->
            <a class="toggle" href="" zf-popup-toggle="mobile-nav"><i class="fa fa-bars" title="Menu"></i></a>
            <zf-popup id="mobile-nav">
              <ul class="nav-dropdown">
                <li ui-sref-active="is-active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="is-active"><a ui-sref="news">News</a></li>
                <li class="header">eSports:</li>
                <li class="sub-item" ui-sref-active="is-active" ng-repeat="$i in ['League of Legends', 'CS:GO']"><a ui-sref="esport">{{$i}}</a></li>
                <li ui-sref-active="is-active"><a ui-sref="about">About</a></li>
              </ul>
            </zf-popup>

            <!-- Desktop Menu -->
            <ul id="desktop-nav" class="menu-bar">
              <li ui-sref-active="is-active"><a ui-sref="news">News</a></li>
              <li class="has-dropdown">
                <a zf-popup-toggle="esport-popup">eSports <i class="fa fa-caret-down"></i></a>
                <zf-popup id="esport-popup">
                	<ul class="nav-dropdown">
                		<li ui-sref-active="is-active" ng-repeat="$i in ['League of Legends', 'CS:GO']"><a ui-sref="esport">{{$i}}</a></li>
                	</ul>
                </zf-popup>
              </li>
              <li ui-sref-active="is-active"><a ui-sref="about">About</a></li>
            </ul>

          </div>
        </div>
      </nav>

      <main ui-view>
      </main>

      <footer id="main-footer" class="grid-content shrink">
        <div class="grid-container">
          <div class="grid-block wrap">
        	  <div class="grid-content small-12 medium-6 medium-order-2">
        	    <ul class="inline social">
        	    	<li><a href="https://www.facebook.com/ncespa"><i class="fa fa-facebook-official"></i></a></li>
        	    	<li><a href="https://www.twitter.com/ncespa"><i class="fa fa-twitter"></i></a></li>
        	    	<li><a href="https://www.youtube.com/ncespa"><i class="fa fa-youtube"></i></a></li>
        	    	<li><a href="http://www.twitch.tv/team/ncespa"><i class="fa fa-twitch"></i></a></li>
        	    	<li><a href="http://www.reddit.com/r/ncespa"><i class="fa fa-reddit"></i></a></li>
        	    </ul>
        	    <ul class="inline terms">
        	      <li><a href="">Terms</a></li>
        	      <li><a href="">Privacy</a></li>
        	    </ul>
        	  </div>
        	  <div class="grid-content small-12 medium-6 medium-order-1 sponsors">
        	    <h5>Our Sponsors</h5>
        	    <a href="http://www.twitch.tv/"><img src="assets/img/Twitch_logo.png" alt="Twitch"></a>
        	    <h5>Our Partners</h5>
        	    <a href="http://spheric.io"><img src="assets/img/Spheric_logo.png" alt="Spheric"></a>
        	    <a href="http://www.allinmag.com/"><img src="assets/img/all_in_logo.png" alt="ALL IN"></a>
        	    <a href="http://www.collegegamingtour.com/"><img src="assets/img/CGT_logo.png" alt="College Gaming Tour"></a>
        	  </div>
        	</div>
        	<p class="text-center copy"><small>&copy;2015 The National Collegiate e-Sports Association&reg;. All Rights Reserved.</small></p>
      	</div>
    	</footer>
    </div>
  </body>
</html>
