/*
//
// MAIN NAVIGATION
//
*/

$menubar-border-color: lighten($menubar-background, 10);

#main-nav {
  background-color: $menubar-background;

  li:not(.brand) {
    border-right: 1px solid $menubar-border-color;

    &:first-of-type {
      border-left: 1px solid $menubar-border-color;
    }

    a {
      @extend %uppercase;
      padding: $global-padding/2 $global-padding*2;
    }

    &.is-active a {
      color: $primary-color;
    }

  }

  .brand a {
    padding-left: 0;
    padding-right: 0;
  }

}

.sub-nav {
  background-color: $menubar-background;

  .menu-group {
    border-top: 1px solid $menubar-border-color;

    a {
      font-size: 90%;
      font-weight: $font-weight-bold;
    }
  }

}