<div class="featured-news card" ui-sref="article">
  <img src="https://source.unsplash.com/featured/random" alt="">
  <div class="card-section">
    <h6 class="date">27 February 2016</h6>
    <h2 class="title">Small Featured News</h2>
    <hr>
    <p class="description">Four loko blue bottle tumblr synth, stumptown plaid gluten-free wayfarers kombucha.  Gochujang cray biodiesel lomo, iPhone echo park brooklyn mixtape narwhal normcore.</p>
    <p class="link"><a ui-sref="article">Read full article</a></p>
  </div>
</div>