<div class="card matchup" ng-class="{'is-live': $i < 3, 'is-over': $i > 4}">
  <h5 class="header">{{28 - $i}} February 2016</h5>
  <hr class="plain">
	<div class="team" ng-class="{'win': $i > 4}" ui-sref="esport.team">
	  <span ng-include="'templates/components/_team-image.html'" class="small"></span>
	  <span class="name" ui-sref="esport.team">Awesome Team</span>
	  <span class="record" ng-if="$i < 5">25W 13L</span>
	  <span class="result" ng-if="$i > 4">Win</span>
	</div>
	<hr class="plain">
	<div class="team" ng-class="{'loss': $i > 4}" ui-sref="esport.team">
	  <span ng-include="'templates/components/_team-image.html'" class="small"></span>
	  <span class="name" ui-sref="esport.team">Awesome Team</span>
	  <span class="record" ng-if="$i < 5">35W 3L</span>
	  <span class="result" ng-if="$i > 4">Loss</span>
	</div>
  <a ng-if="$i < 3" class="live button tiny success">Live</a>
</div>