<div class="featured-news large card dark" ui-sref="article">
  <img src="https://source.unsplash.com/featured/random" alt="">
  <div class="card-section">
  	<h6 class="date">27 February 2016</h6>
  	<h2 class="title">This is a large featured news post</h2>
  	<hr class="opposite">
  	<p class="description">Kombucha direct trade  viral master cleanse.  Skateboard mlkshk pinterest man braid, whatever man bun brooklyn locavore kickstarter humblebrag try-hard photo booth letterpress.</p>
  	<p class="link"><a ui-sref="article">Read full article</a></p>
  </div>
</div>