/*
//
// ARTICLE PAGE TEMPLATE
//
*/

#article-page {
  margin-top: 2rem;
  margin-bottom: 2rem;

  header {
    .title {
      font-weight: $font-weight-bold;
      text-align: center;
    }

    .date {
      @extend %uppercase;
      text-align: center;
      opacity: .5;
      font-size: $small-font-size;
      margin-bottom: 4rem;
    }
  }

  article {
    .secondary-header {
      @extend %uppercase;
      font-size: 1rem;
    }

    .pull-quote {
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;
      color: $gray;
      max-width: 80%;
      margin: 2rem auto;
    }

    @include breakpoint(large) {
      padding-right: 5rem;
    }
  }
}