/*
//
// NEWS PAGE TEMPLATE
//
*/

$news-list-item-border: 3px solid $secondary-color;

#news-page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.featured-news,
.news-list-item {

  .date,
  .link {
    @extend %uppercase;
    font-size: $small-font-size;
  }

  .date {
    opacity: .5;
    font-size: $small-font-size*.8;
  }

  .description {
    @extend .ideal;
  }

  .link {
    margin-bottom: 0;
  }

}

.featured-news {
  img {
    max-height: 8rem;
    object-fit: cover;
  }

 .title {
    @extend %section-header;
    font-size: $h2-font-size*.8;
    margin-top: .5rem;
  }
}

.featured-news.large {

  .title {
    font-size: $h1-font-size*.8;
  }

  img {
    max-height: 15rem;
  }


  @include breakpoint(medium) {

    position: relative;
    min-height: 15rem;
    max-height: 36rem;
    overflow: hidden;

    background: linear-gradient(45deg, $gray-dark 10%, white 90%);
    color: white !important;

    img {
      display: block;
      height: 100%;
      max-height: none;
      width: 100%;
      vertical-align: inherit;
      opacity: .8;
    }

    .title {
      font-weight: $font-weight-bold;
    }

    .card-section {
      position: absolute;
      bottom: 0;
      left: 0;

      max-height: 100%;
    }

  }
}

.news-list-item {
  .title {
    font-weight: $font-weight-bold;
  }

  p {
    font-size: .9rem;
    opacity: .8;
    max-width: 36rem;
  }

  &:not(.card) {
    border-bottom: $news-list-item-border;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &.card {
    padding: $global-padding;
  }
}

