/*
//
// TABLES
//
*/

$table-striped-background: $secondary-color;

// BASIC STYLES
// None are included in Foundation for Apps

table {
  width: 100%;
  background: white;
  border: 1px solid darken($table-striped-background, 5);
  margin-bottom: 2rem;


  th, td {
    padding: $global-padding;

    &:not(:last-child) {
      padding-right: 0;
    }
  }

  th {
    @extend %uppercase;
    color: $gray;
    text-align: left;
    font-size: $small-font-size;

    border-bottom: 1px solid $table-striped-background;
  }

  &.zebra {
    tr:nth-child(even) {
      background-color: $table-striped-background;
    }
  }

  &.selectable {
    tr {
      @include basic-transition;
    }
    :not(thead) tr:hover {
      background-color: lighten($primary-color, 55);
    }
  }

  .button {
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

}