---
name: news
url: /news
---

<div id="news-page" class="grid-container">

	<div class="grid-content" ng-include="'templates/components/_large-featured-news.html'"></div>

  <div class="grid-block small-up-1 medium-up-3">
    <div class="grid-content" ng-repeat="$i in [1,2,3]" ng-include="'templates/components/_featured-news.html'"></div>
  </div>

  <div class="grid-block wrap">
    <div class="grid-content news-list">
      <hr class="plain">
      <div ng-repeat="$i in [1,2,3]" ng-include="'templates/components/_news-list-item.html'"></div>
    </div>
    <div class="grid-content twitter-feed">
        <a class="twitter-timeline" href="https://twitter.com/NCeSPA" data-widget-id="722929062285484040">Tweets by @NCeSPA</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>
