---
name: article
url: /article
---

<div id="article-page" class="grid-container">

  <div class="grid-content">

  	<header>
  	  <h1 class="title">This is an article</h1>
  		<h6 class="date">27 February 2016</h6>
  		<hr>
    </header>

    <div class="grid-block">

      <article class="grid-content large-8">
        <p>Kombucha direct trade  viral master cleanse.  Skateboard mlkshk pinterest man braid, whatever man bun brooklyn locavore kickstarter humblebrag try-hard photo booth letterpress.</p>
        <figure>
        	<img src="https://source.unsplash.com/featured/random" alt="">
        	<figcaption>The above photo's caption</figcaption>
        </figure>
        <p>Humblebrag pork belly occupy, brooklyn paleo cred williamsburg yuccie sartorial hella gastropub kombucha ugh.  Drinking vinegar you probably haven't heard of them PBR&amp;B biodiesel.  Polaroid microdosing scenester, chicharrones ramps mustache single-origin coffee readymade listicle locavore pickled small batch.  Wayfarers salvia flannel blog brooklyn, waistcoat XOXO +1 meh banh mi direct trade  letterpress authentic cliche.</p>
        <h2 class="secondary-header">Secondary Header</h2>
        <p>Whatever occupy viral, chia flannel salvia gastropub direct trade  fingerstache leggings paleo intelligentsia tumblr cray four dollar toast.  Lo-fi whatever ramps squid chartreuse williamsburg paleo, fingerstache slow-carb.  Organic keytar squid tattooed stumptown, gochujang schlitz tote bag 8-bit beard.  Bushwick ennui wayfarers fap.  Hashtag knausgaard truffaut cray, irony affogato single-origin coffee fingerstache narwhal slow-carb pour-over.  Whatever synth cronut kitsch drinking vinegar.  Scenester chicharrones cliche quinoa, raw denim vice echo park narwhal marfa distillery.</p>
        <h5 class="pull-quote">Irony ennui hammock green juice echo park, chillwave pork belly.</h5>
        <p>Swag tote bag tattooed cliche crucifix cardigan.  Bespoke vinyl YOLO tofu.  Readymade tacos brunch trust fund typewriter XOXO.  Biodiesel waistcoat trust fund chicharrones scenester gochujang ethical taxidermy.  Irony ennui hammock green juice echo park, chillwave pork belly sustainable celiac man braid ugh whatever slow-carb synth quinoa.  Kinfolk taxidermy letterpress etsy single-origin coffee, lumbersexual chicharrones sartorial craft beer lo-fi.  Kinfolk twee tousled, locavore offal banjo truffaut migas.</p>
      </article>

      <section class="grid-content large-4 news-list">
      	<h2>In Other News</h2>
      	<div class="news-list card">
        	<div ng-repeat="$i in [1,2,3]" ng-include="'templates/components/_news-list-item.html'"></div>
      	</div>
      </section>

    </div>
  </div>


</div>
