---
name: esport
url: /esport
---

<div id="sub-nav">
  <div class="menu-group grid-container">
    <div class="menu-group-left">
      <ul class="menu-bar">
        <li ui-sref-active="is-active"><a ui-sref="esport">Home</a></li>
        <li ui-sref-active="is-active"><a ui-sref="esport.teams">Teams</a></li>
        <li ui-sref-active="is-active"><a ui-sref="esport.schedule">Schedule</a></li>
        <li ui-sref-active="is-active"><a ui-sref="esport.standings">Standings</a></li>
      </ul>
    </div>
    <div class="menu-group-right">
      <ul class="menu-bar">
        <li class="has-dropdown">
          <a href="">Division I</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ui-view>

  <div id="esport-home" class="grid-container" >
    <h1>eSport</h1>
  </div>

</div>