---
name: esport
url: /esport
---

<div id="esport-sub-nav" class="sub-nav">
  <div class="menu-group grid-container">
    <div class="menu-group-left">
      <ul class="menu-bar">
        <li class="current-sport"><a ui-sref="esport">eSport Name</a></li>
      </ul>
    </div>
    <div class="menu-group-center">
      <ul class="menu-bar">
        <li ui-sref-active="is-active"><a ui-sref="esport.teams">Teams</a></li>
        <li ui-sref-active="is-active"><a ui-sref="esport.schedule">Schedule</a></li>
        <li class="has-dropdown standings-dropdown">
          <a zf-popup-toggle="standings-popup">Standings <i class="fa fa-caret-down"></i></a>
          <zf-popup id="standings-popup">
          	<ul class="nav-dropdown">
          		<li><a href="">Regular Season</a></li>
          		<li><a href="">Playoffs</a></li>
          	</ul>
          </zf-popup>
        </li>
      </ul>
    </div>
    <div class="menu-group-right">
      <ul class="menu-bar">
        <li class="has-dropdown division-dropdown">
          <a zf-popup-toggle="division-popup">Division I <i class="fa fa-caret-down"></i></a>
          <zf-popup id="division-popup">
          	<ul class="nav-dropdown">
          		<li ng-repeat="$i in ['I', 'II', 'III']" ng-class="{'is-active': $i === 'I'}"><a href="">Division {{$i}}</a></li>
          	</ul>
          </zf-popup>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ui-view>

  <section id="esport-home" class="grid-container" >
    <div class="grid-block wrap">
      <div class="news grid-content large-7">
        <h2>News</h2>
        <hr>
        <div ng-include="'templates/components/_large-featured-news.html'"></div>
      	<div class="news-list">
          <hr class="plain">
          <div ng-repeat="$i in [1,2,3]" ng-include="'templates/components/_news-list-item.html'"></div>
        </div>
      </div>
      <div class="grid-content large-5">
        <h2>Schedule</h2>
        <hr>
        <div class="grid-block wrap">
          <div class="grid-content" ng-repeat="$i in [1,2,3,4]" ng-include="'templates/components/_matchup.html'" class="small"></div>
        </div>
        <h2>VODS</h2>
        <hr>
        <ul class="grid-block">
          <li class="grid-content" ng-repeat="i in [1,2,3,4] track by $index">
            <a class="vod">
              <img src="http://placehold.it/160x90" alt="">
              <i class="fa fa-youtube-play fa-inverse fa-2x"></i>
            </a>
          </li>
    	  </ul>
      </div>
    </div>
  </section>

</div>