/*
//
// ARTICLE PAGE TEMPLATE
//
*/

.single article {
  header {
    .entry-title {
      font-weight: $font-weight-bold;
      text-align: center;
    }

    .date {
      @extend %uppercase;
      text-align: center;
      opacity: .5;
      font-size: $small-font-size;
    }

    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  h2 {
    @extend %section-header;
    font-size: 1rem;
  }

  .pull-quote {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    color: $gray;
    max-width: 80%;
    margin: 2rem auto;
  }

  @include breakpoint(large) {
    //padding-right: 10%;

    @include card-container;
    @include card-section;
  }
}

/**
 * Alignments from WP Editor
 */

.alignleft {
	float: left;
	margin: .4rem 1.75rem 1.75rem 0;
}

.alignright {
	float: right;
	margin: 0.4rem 0 1.75rem 1.75rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75rem;
}

blockquote.alignleft {
	margin: 0.3rem 1.5rem 1.5rem 0;
}

blockquote.alignright {
	margin: 0.3rem 0 1.5rem 1.5em;
}

blockquote.aligncenter {
	margin-bottom: 1.5rem;
}