/*
//
// eSPORT PAGE TEMPLATES
//
*/

// TEAMS

.esport-teams {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.team-header {
  background-color: $dark-color;

  > div {
    border-top: 1px solid $menubar-border-color;
  }

  .name {
    color: white;
  }

  .info,
  .stats {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .team-image {
    margin-top: .25rem;
  }

  .name {
    margin-top: 0;
  }

  .stat {
    margin-bottom: 0;
  }

  .stats {
    text-align: center;
    background-color: $primary-color;

    .subheader {
      color: rgba(white, .5);
      @extend %uppercase;
      font-size: $small-font-size;
    }
    .stat {
      color: white;
    }
  }
}

// TEAM

.team-content {
  table .date {
    @include no-break();
  }
}



