/**
 * 11.6 - Footer
 */

.site-footer {
	padding: 0 4% 1rem;
  background-color: $menubar-background;
  border-top: 3px solid $primary-color;

  .copy {
    margin-top: 1rem;
  }
}

.site-info {
	color: $gray;
}

.site-info a {
	color: $gray;
}

.site-info a:hover,
.site-info a:focus {
	color: $primary-color;
}

.site-footer .site-title {
	font-size: inherit;
	font-weight: 400;
}

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}

.site-footer .social-navigation {
	margin-bottom: 1rem;
}

.legal-menu {
  @extend .inline;
  margin: 1rem 0 0;

  li {
    margin: .5rem 2rem .5rem 0;

    a {
      @extend %uppercase;
      font-size: $small-font-size;
      color: $menubar-color;
    }
  }
}

.sponsors {
  a {
    display: inline-block;
    margin: $global-padding/2;
  }

  img {
    height: rem-calc(24);
    filter: grayscale(1);
    opacity: .5;
  }

  h5 {
    @extend %uppercase;
    font-size: 60%;
    color: lighten($menubar-background, 20);

    &:last-of-type {
      margin-top: $global-padding;
    }
  }
}

@include breakpoint(large) {

	.site-footer .main-navigation {
		display: none;
	}

	.site-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1rem 2% 1rem;

		.footer-navs {
  		order: 2;
  		text-align: right;
		}

		.sponsors {
  		order: 1;
  		display: flex;

  		> div {
    		margin-right: 1rem;
  		}
		}

		.legal-menu li {
  		margin-top: 0;
  		margin-right: 0;
  		margin-left: 2rem;
		}

		.copy {
  		order: 3;
  		flex: 0 0 100%;
  		text-align: center;
		}
	}

}
