.site-header {
	background: $menubar-background;
	margin-bottom: 4%;

	> * {
  	max-width: $column-width;
  	margin-left: auto;
  	margin-right: auto;
	}
}

.site-header-main {
	padding: 1rem;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.site-branding {
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	max-width: 100%;
	min-width: 0;
	overflow: hidden;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	max-width: 180px;
}

.site-title {
	font-size: $h2-font-size;
	font-weight: 700;
	margin: 0;
}

.site-branding .site-title a {
	color: $menubar-color;
}

.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: $menubar-color-hover;
}

.wp-custom-logo .site-title {
	margin-top: 0.6rem;
}

.site-description {
	color: $menubar-color;
	display: none;
	font-size: $small-font-size;
	font-weight: 400;
	margin: 0.5rem 0 0;
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid $menubar-border-color;
	color: $menubar-color;
	@extend %uppercase;
	font-size: $menubar-fontsize;
	margin: 0;
	padding: 0.7rem;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	border-color: $menubar-color-hover;
	color: $menubar-color-hover;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: $menubar-border-color;
	border-color: $menubar-border-color;
	color: $menubar-color-hover;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

.header-image {
	clear: both;
	margin: 0.875em 0;
}

.header-image a {
	display: block;
}

.header-image a:hover img,
.header-image a:focus img {
	opacity: 0.85;
}

.site-header-menu {
	display: none;
	flex: 0 1 100%;
	margin: 0.875em 0 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.site-header .main-navigation + .social-navigation {
	margin-top: 1rem;
}

@include breakpoint(medium) {
  .custom-logo {
		max-width: 210px;
	}

	.site-title {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 1.25;
	}

	.wp-custom-logo .site-title {
		margin-top: 0.5em;
	}

	.site-description {
		display: block;
	}

	.header-image {
		margin: 1.3125em 0;
	}
}

@include breakpoint(large) {
	.site-header {
		padding-right: 2%;
		padding-left: 2%;
	}

	.site-header-main {
		align-items: flex-start;
	}

	.wp-custom-logo .site-header-main {
		align-items: center;
	}

	.site-header-menu {
		display: block;
		flex: 0 1 auto;
	}

	.site-header .social-navigation {
		display: none;
	}
}

@include breakpoint(xxlarge) {
  .site-header {
  	margin-bottom: 3rem;
  }
}


