/*
//
// BLOG (home) PAGE TEMPLATE
// And news components
//
*/

.search-results,
.archive,
.blog {

  .title a {
    font-weight: $font-weight-bold;
    color: inherit;
    text-decoration: none !important;
  }

  .date,
  .link {
    @extend %uppercase;
    font-size: $small-font-size;
  }

  .date {
    opacity: .5;
    font-size: $small-font-size*.8;
  }

  .link {
    margin-bottom: 0;
    text-align: right;
  }

  .the-loop > .post:first-child hr {
    margin-top: 0;
  }

  .sticky:first-child {
    $color-value: $gray-dark;
    @include card-container(
      $background: $color-value,
      $color: isitlight($color-value),
      $border: 0
    );

    .entry-content {
      @include card-section;
    }
  }

  .sticky:nth-child(2),
  .sticky:nth-child(3) {
    @include card-container;

    .entry-content {
      @include card-section;
    }
  }

  .sticky {
    img {
      max-height: 8rem;
      object-fit: cover;
    }

   .title {
      margin-top: .5rem;
    }

    hr.plain {
      display: none;
    }
  }

  .sticky:first-child {
    position: relative;

    .title {
      font-size: $h1-font-size*.8;
    }

    img {
      max-height: 15rem;
    }

    @include breakpoint(medium) {
      overflow: hidden;
      border: 1px solid rgba($body-background, 0); // keeps the image from bleeding outside the rounded corners
      margin-bottom: 2rem;

      img {
        display: block;
        width: 100%;
        vertical-align: inherit;
      }
    }
  }

  @include breakpoint(large) {
    .the-loop {
      display: flex;
      flex-wrap: wrap;
    }

    .post {
      flex: 0 0 100%;
    }

    .sticky:nth-child(2),
    .sticky:nth-child(3) {
      flex: 1 1 48%;
    }

    .sticky:nth-child(2) {
      margin-right: 4%;
    }
  }

  .page,
  .post:not(.sticky) {
    .title {
      font-weight: $font-weight-bold;

      + hr {
        display: none;
      }
    }

    img {
      max-height: 15rem;
      width: 100%;
      object-fit: cover;
    }

    .card & {
      padding: $global-padding;
    }
  }

}